*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,li,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    list-style: none;

}

a{
    text-decoration: none;
}

@font-face {
    font-family: 'trebuc';
    src: url('../trebuchet-ms-2/trebuc.ttf') format('woff2')
}

.testFont{
    font-family: 'trebuc';
}
/* =========== description part start here =========== */
#description{
    margin-top: 50px;
    padding-bottom: 50px;
}
.description_details h1{
    font-family: 'trebuc';
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    color: black;
}
.description_details p {
    margin-bottom: 10px;
    font-family: 'trebuc';
    font-size: 15px;
    color: #01132d;
    line-height: 26px;
}
.description_details a{
    color: #ef4a23;
    background-color: transparent;
}
.description_details a:hover{
    border-bottom: 2px solid#ef4a23;
}
.description_details h3{
    font-family: 'trebuc';
    font-weight: normal;
    font-size: 18px;
    margin: 25px 0 12px;
    line-height: 26px;
    color: black;
}
.description_details h4 {
    font-family: 'trebuc';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
    color: black;
} 
/* =========== description part end here =========== */
